<!--{template header}-->
<div class="box1000 m_t_10 clearfix">
    <div class="zx_location">您的位置：<a href="http://sc.5173.com">服务中心首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<span>{$title}</span></div>
</div>
<div id="list_wdzs_kf">

    <div class="tilBox">
        <h2>请选择您的专属客服，我们将为您提供一对一的优质服务</h2>
    </div>
    <ul id="kfList" class="clearfix">

    </ul>
    <div class="btnBox clearfix">
        <div id="changeList">换一批</div>
        <a id="thanks" href="javascript:onclick=history.back();">不需要他们，谢谢</a>
    </div>
</div>
<div id="floatBox" class="UED_hide">
    <div class="wrapBox clearfix">
        <div class="hd">
        </div>
        <div id="close_floatBox" onclick="$.LAYER.close();"></div>

        <div class="bd">
            <img class="pic" src="" alt=""/>
            <div class="zl">
                <dl>
                    <dt>名称:</dt>
                    <dd><strong id="loginName_fl"></strong></dd>
                </dl>
                <dl>
                    <dt>微信:</dt>
                    <dd id="weixin_fl"></dd>
                </dl>
                <dl>
                    <dt>手机</dt>
                    <dd id="mobile_fl"></dd>
                </dl>
                <dl>
                    <dt>QQ:</dt>
                    <dd id="qq_fl"></dd>
                </dl>
            </div>
        </div>
        <div class="cMe_fb"></div>
    </div>
</div>
<!--{template footer}-->
