<!--{template header}-->
<link rel="stylesheet" type="text/css" href="http://img01.5173cdn.com/zixun_center/build/1.00/css/calendar_v1.css"/>
<div class="box1000 m_t_10 clearfix">
	<div class="zx_location">您的位置：<a href="./">服务中心首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
	<a href="http://sc.5173.com/index.php?question/ask_skip.html">选择问题类型</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
	<a href="http://sc.5173.com/index.php?question/ask_run/{$question_type}.html">选择{$typeName}类型</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
	<span>选择{$subListTitle['name']}类{$typeName}</span>
	</div>
   <div class="service_content">
    	<h4 class="ts_type_h4">选择 {$subListTitle['name']} 类{$typeName}</h4>
    	<ul id="ts_typelist" class="select_tstype">
				<!-- {loop $subList $v} -->
				{if isset($v['trading']['directOrderUrl']) && $v['trading']['directOrderUrl']!='' && $question_type=='complain'}
				<li>
					<a href="javascript:onclick=search_order({$v['id']},1);">
	                    <span class="til">$v['name']</span>
	                    <div class="rd">
							{if substr($v['questions_today'],-1)=="%"}
							<span class="text_201416">月投诉率</span>
							{else}
							<span class="text_201416">月总数</span>
							{/if}
	                        <span class="num_201416">{eval echo isset($v['questions_today']) ? $v['questions_today'] : 0}</span>
	                    </div>
	                </a>
	              </li>
				{else}
				<li>
	                <a href="?question/{$question_type}/{$v['id']}.html">
	                    <span class="til">$v['name']</span>
	                    <div class="rd">
							{if substr($v['questions_today'],-1)=="%"}
							<span class="text_201416">月投诉率</span>
							{else}
							<span class="text_201416">月总数</span>
							{/if}
	                        <span class="num_201416">{eval echo isset($v['questions_today']) ? $v['questions_today'] : 0}</span>
	                    </div>
	                </a>
	            </li>
				{/if}
            <!-- {/loop} -->
        </ul>
    </div>
</div>
{if $question_type=='complain'}
<div id="layer_order" class="UED_hide big_pop">
    <div class="pop_box">
        <div class="pop_tittle">
            <h3 id="UED_layer_h3_v31">选择订单</h3>
            <a href="javascript:void 0" onclick="J_close();" class="close"></a>
        </div>
        <div class="pop_mainbox">
            <h5 class="order_title"><s></s>我的保险订单</h5>
            <div class="order_time">
            <ins>订单时间：</ins>
            <div class="datebody"><input id="ord02_start" value="{eval echo date('Y-n-j',strtotime('-7 days'))}" type="text" class="text_t"/></div>
            <ins>&nbsp;至&nbsp;</ins>
            <div class="datebody"><input id="ord02_end" value="{eval echo date('Y-n-j')}" type="text" class="text_t" /></div>   
			<input type="hidden" id="buyer_jy_select" name="buyer_jy_select" value="{$qtypeId}"/>
                <a href="#" class="btnlink_b_s_small" onclick="getDirectOrderUrl();"><span>搜索</span></a>
            </div>
            <div id="o_list_1"></div>
            <ul class="order_list" > 	            
                <li style="border:none;">
                    <div id="loading_div_1" align="center" style="display:none;"><img src="css/common/loading.gif"></div>                   
                </li>                
            </ul>            
      </div>
   </div>
</div>
<div id="UED_SHUCOVER_V1" class="UED_SHUCOVER_V1 UED_hide">
	<iframe src="about:blank" id="UED_SHUCOVER_IFRAME_V1" class="UED_SHUCOVER_IFRAME_V1"></iframe>
</div>
{/if}
<!--{template footer}-->
<script type="text/javascript" type="text/javascript" src="http://img01.5173cdn.com/zixun_center/build/1.00/js/calendar_v1.js" charset="utf-8"></script>
<script type="text/javascript">
{if $question_type=='complain'}
$(function() {
	$("#ord02_start").bind("click", function() {
		CalendarHG.showCalendar(this.id)
	});
	$("#ord02_end").bind("click", function() {
		CalendarHG.showCalendar(this.id)
	});
	CalendarHG.init("ord02_start", "ord02_start");
	CalendarHG.init("ord02_end", "ord02_end");
});
{/if}
 // 投诉 保险服务 接口
$(function(){
	   $(".order_list li").live("mouseover",
       		function(){
       	        $(".order_list li").removeClass("orderHov");
       	        $(this).addClass("orderHov");
       	    });
	     $("#layer_order .order_numbg").live("click",
	                function() {
	                    $(this).find("input").attr("checked", !0);
	                    $(".order_list li").removeClass("orderCurr");
	                    $(this).parents("li").addClass("orderCurr");
	                    $(".J_orderList_ok").attr("class", "btnlink_b_small unhover c9 J_orderList_ok");
	                });
})
var qtypeId;        
var page = 1;
function search_order(id,page)
{
	qtypeId = id;
	if({$skipWindow})
	{
		$('#loading_div_1').show();
		$("#layer_order").show();
		$("#UED_SHUCOVER_V1").show();
	}
	var ord02_start = $.trim($("#ord02_start").val());
	var ord02_end   = $.trim($("#ord02_end").val());
	$('#o_list_1').empty();
	$.ajax({
	         type: "POST",
	         url: "{url question/getDirectOrderUrl}",
	         data: {start:ord02_start,end:ord02_end,qtypeId:qtypeId,page:page},
	         dataType:"json",
	         success: function(data){
	        	 $('#loading_div_1').hide();
	        	 if(data['type']==5){
	        		 location.href=data['msg'];
	        	 }else if(data['type']==1){
	        		 $("#o_list_1").html(data['msg']);
	        	 }else{
	        		 alert(data['msg']);
	        	 }
	         }
	      });  
}
function getDirectOrderUrl()
{
	var page = 1;
	search_order(qtypeId,page);
}
//关闭弹窗
function J_close()
{
	$("#layer_order").hide();
	$("#UED_SHUCOVER_V1").hide();
}
// 取选中的订单号
function submitForm()
{
	var radioCheck = false;
	var orderId = '';
	var radio = document.getElementsByName('order_btn');
	for(i=0;i<radio.length;i++)
	{
		if(radio[i].checked==true)
		{
			orderId = radio[i].value
			radioCheck=true;
		}
	}
	if(radioCheck)
	{
			var qtypeId = $("#qtypeId").val();
			$.ajax({
		         type: "POST",
		         url: "{url question/postBaoXian}",
		         data: {orderId:orderId,qtypeId:qtypeId},
		         dataType:"json",
		         success: function(data){
		        	 if(data['type']==1)
		        	 {
		        		 location.href=data['msg'];
		        	 }
		        	 else
		        	 {
		        		 alert(data['msg']);
		        	 }
		         }
		     });
	}
	else
	{
		alert('请选择订单');
	}
}

if(!window.name)
{
	window.name = 'refresh';
}
else
{
	window.name= '';
	if(location.href.indexOf('subListDirectPost')!=-1)
	{
		location.href = location.href.replace(/subListDirectPost/,'subList');
	}
}

{if isset($SubListBaoXianQtype)&&$SubListBaoXianQtype>0&&$question_type=='complain'}
search_order({$SubListBaoXianQtype},1);
{/if}
</script>