<!--{template header,admin}-->
<script src="js/jquery.js" type="text/javascript"></script>
 <table width='100%' cellpadding="0" cellspacing="0">
       <tr>
	       <td><span style="color:red">{$ask_login_name}</span>&nbsp;&nbsp;<span id="question_count" style="color:#555;"></span></td>
       </tr>             
</table>
<table style="width:100%;" cellspacing="0" cellpadding="0">
    <tr >
    <!-- {if !isset($hide_wait)} -->
      <td width="20%">
      <iframe style="border:1px solid #BED1E5" frameborder="0" src="index.php?admin_question/handle_wait{$setting['seo_suffix']}" name="waithandle" id="waithandle" width="100%" height="740px"></iframe>          
        </td>
    <!-- {/if} -->    
        <td width="60%">
            <iframe style="border:1px solid #BED1E5"  frameborder="0"  src="index.php?admin_question/handle_answer{$setting['seo_suffix']}" name="waitanswer" id="waitanswer" width="100%" height="740px"></iframe>
        </td>
        <td width="20%">
            <iframe style="border:1px solid #BED1E5" frameborder="0" src="index.php?admin_question/handle_quick{$setting['seo_suffix']}" name="quick" id="quick" width="100%" height="740px"></iframe>
        </td>
    </tr>
</table>
<!--{template footer,admin}-->
<script type="text/javascript">
		$.ajax({
            type: "POST",
            url: "{url admin_question/ajaxhandle_top}",
            success: function(data){
         	   if(data != ''){
         		  $("#question_count").html(data);             
               }
            }
        });	
</script>