<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
body,table{padding:0;margin:0;}
table{
	width:100%;
	border-collapse:collapse;
	border:2px solid #64C1B4;
}
table td{
	background: #f9f9f9;
	text-align:center;
}
.ltd{width:150px;text-align:right;}
</style>
</head>
<body>
<form method="post" action ="index.php?admin_question/myhelp_content{$setting['seo_suffix']}">
<table border="1">
        <tr>
       	 <td colspan="2" style="text-align:right;">
       		 <span style="font-size:14px;color:red;font-weight:bold;">逾期倒计时: <b id="overduetime"></b></span>
       	 </td>
        </tr>
		<tr><td class="ltd">问题id：</td><td> <a href="javascript:;" onclick="on_view_question({$myhelplist['qid']})">{$myhelplist['qid']}</a></td></tr>
		<tr><td class="ltd">咨询内容：</td><td> {$desc}</td></tr>    
		<tr><td class="ltd">申请日期：</td><td> {$myhelplist['start']}</td></tr>  
		<tr><td class="ltd">申请人：</td><td> {$myhelplist['applicant']}  </td></tr>  
		<tr><td class="ltd">协助人：</td><td> {$myhelplist['aid']}  </td></tr>  
		<tr><td class="ltd">协助内容：</td><td> {$myhelplist['aid_content']}</td></tr> 
		<!--
			<tr><td class="ltd">反馈时间：</td><td> {$myhelplist['back_time']}</td></tr>
			<input type="hidden" name="qid" value="{$myhelplist['qid']}"/>
			<input type="hidden" name="id" value="{$id}"/>  
			<tr><td class="ltd">反馈内容：</td><td><input style="border:none;" type="text" size="50" name="back_content" value="{$myhelplist['back_content']}"/></td></tr>
			<tr {if $myhelplist['status']}style="display:none;"{/if}><td colspan="2"><input type="submit" value="提交" />&nbsp;&nbsp;&nbsp;<input type="reset" value="撤销" /></td></tr>
		  --> 
		
</table>
</form>
</body>
<script type="text/javascript">
var now = (new Date()).valueOf();
var date = {$overdueTime};
date = date - Math.round(now/1000); // 逾期时间秒数
function clock(){
	  var overduetime = document.getElementById("overduetime");
	  var dateTmp = date;
	  var hour   = Math.floor(dateTmp/3600);
	  dateTmp -= hour*3600;
	  var minute = Math.floor(dateTmp/60);
	  dateTmp -= minute*60;
	  var second = dateTmp; 
	  date--;
	  var timeStr = '' + (hour<10 ?'0':'') +hour+'时' + (minute<10 ?'0':'') + minute+'分'+ (second<10 ?'0':'') +second+'秒';
	  overduetime.innerHTML = timeStr;			    		 
		if(date<0) {
			overduetime.innerHTML='已逾期';
			opener.document.getElementById('hasOverDue'+{$id}).innerHTML = '<span style="color:red">已逾期<span>';
		 }else{
			 window.setTimeout('clock()',1000);
		 }
	}
	clock();
function on_view_question(id){
   document.cookie  = "view_question_id="+id;
   self.close();
   window.opener.location.href = "index.php?admin_question/handle/"+id+"{$setting['seo_suffix']}";
  }
	 
</script>
</html>


