<!--{template header,admin}-->
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/dialog.js" type="text/javascript"></script>
<script src="js/admin.js" type="text/javascript"></script>
<script src="js/calendar.js" type="text/javascript"></script>

<div id="append">
</div>
<div style="width:100%; height:15px;color:#000;margin:0px 0px 10px;">
    <div style="float:left;"><a href="index.php?admin_main/stat{$setting['seo_suffix']}" target="main"><b>控制面板首页</b></a>&nbsp;&raquo;&nbsp;{$hasIntoComplainViewPrivilege[name]}</div>
</div>
<!--{if isset($message)}-->
<!--{eval $type=isset($type)?$type:'correctmsg'; }-->
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
    <tr>
        <td class="{$type}">{$message}</td>
    </tr>
</table>
<!--{/if}-->

<form action="{$action}" method="post" onsubmit="return check_submit()" name="queviewSubmit">
    <table width="100%" cellspacing="0" cellpadding="6" align="center" class="tableborder">
        <tbody> 
            <tr class="header" ><td colspan="6">已撤销投诉问题</td></tr>
            <tr>
                <td  class="alt2" colspan = 2>按投诉时间：
                从:<input class="txt" onclick="showcalendar();" name="ComplainStartDate" value="{$ConditionList[ComplainStartDate]}">
                至:<input class="txt" onclick="showcalendar();" name="ComplainEndDate" value="{$ConditionList[ComplainEndDate]}"></td>

			<td  class="alt2">投诉用户名:<input class="txt" name="author" value="{$ConditionList[author]}"></td>
			<td  class="alt2">投诉用户ID:<input class="txt" name="author_id" value="{$ConditionList[author_id]}"></td>				
			<td  class="alt2"   colspan = 2>SC投诉单号:<input class="txt" name="complainId" value="{$ConditionList[complainId]}">
			接手客服账号:<input class="txt" name="operator_loginId" value="{$ConditionList[operator_loginId]}"></td>
            </tr>
			
			<tr>			


			<td  class="alt2"  colspan = 2>用户身份类型:					
			<select name="sid" onchange="getSType(this);">
				<!-- {loop $SellerTypeList $sid $sname} -->
					<option value="{$sid}" {if $ConditionList[sid]==$sid}selected{/if}>{$sname}</option>
				<!-- {/loop} -->                     
			</select>
			交易类型:					
                    <select name="jid">
                        <!-- {loop $Jlist $jid $jname} -->
                        <option value="{$jid}" {if $ConditionList[jid]==$jid}selected{/if}>{$jname}</option>
                        <!-- {/loop} -->                     
                    </select>
                </td>
								<td  class="alt2">撤销理由:<input class="txt" name="reason" value="{$ConditionList[reason]}">(仅支持单关键词)</td>

								<td  class="alt2"><input class="btn" type="submit" value="搜索">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$downloadstr}</td>

				
				</tr>
				<tr>
				</tr>
            

        </tbody>
    </table>


<table width="100%" cellspacing="0" cellpadding="4" align="center" class="tableborder">
    <tbody>
        <tr class="header"></tr>
			<tr>
				<td colspan="14">共有<span>{$complain_list['ComplainCount']}</span>项&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="scott" style="float:right;">{$departstr}</div></td>
				
			</tr>
			<tr class="header">
				<td>SC投诉单号</td>
				<td>关联投诉单号</td>
				<td>问题描述</td>
				<td>用户名</td>
				<td>身份类型</td>
				<td>交易类型</td>
				<td>投诉时间</td>
				<td>撤销时间</td>
				<td>撤销理由</td>
				<td>撤销客户端IP</td>
				<td>操作</td>
			</tr>
			<!-- {if isset($complain_list)} {loop $complain_list['ComplainList'] $complainInfo}-->
        <tr>
            <td  width="3%" class="alt2">{$complainInfo['id']}</td>
			<td  width="3%" class="alt2">{$complainInfo['SyncInfo']['cpid']}</td>
            <td  width="8%" class="alt2">{$complainInfo['description']}</td>
			<td  width="2%" class="alt2">{$complainInfo['author']}</td>
            <td  width="1%" class="alt2">{$complainInfo['sName']}</td>
			<td  width="3%" class="alt2">{$complainInfo['jName']}</td>
            <td  width="3%" class="alt2">{eval echo date('Y-m-d H:i:s',$complainInfo['time'])}</td>
			<td  width="3%" class="alt2">{$complainInfo['RevokeTime']}</td>
			<td  width="5%" class="alt2">{$complainInfo['RevokeReason']}</td>
			<td  width="2%" class="alt2">{$complainInfo['RevokeIP']}</td>
            <td  width="2%" class="alt2">{$complainInfo['url']}</a>  

            </td>
        </tr>
        <!-- {/loop} -->
        <!-- {/if} -->
				<td colspan="14">共有<span>{$complain_list['ComplainCount']}</span>项&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="scott" style="float:right;">{$departstr}</div></td>
    </tbody>
</table>
</form>
<script type="text/javascript">
function getSType(obj){
	var sid = $(obj).find("option:selected").val();
	$.ajax({
        type: "POST",
        url: "{url admin_complain/ajaxGetSType}",
        data: "sid="+sid,
        success: function(question_sid)
		{			
            $("select[name='jid']").find("option:gt(0)").remove();
			$("select[name='jid']").append(question_sid);            			
        }
    });
}
</script>
